@import '../../shared-styles/utilities/variables';
.input {
  width: 100%;
  text-align: center;
  label {
    text-align: left;
    display: block;
    clear: right;
    width: 80%;
    margin-left: 10%;
    font-size: 14px;
    color: $orange;
    font-weight: 600;
    margin-bottom: 5px;
  }
  input {
    display: inline-block;
    width: 80%;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    height: 40px;
    text-align: center;
    padding: 5px;
    font-weight: 600;
    color: $orange;
    border: 2px solid $white;
    background-color: $white;
    &:focus {
      transition: all 0.3s;
      border-radius: 10px;
      background-color: $white;
      border: 2px solid $orange;
    }
  }
  .has-error {
    border: 2px solid $scarlet;
  }
}
