<div class="input" *ngIf="!label">
  <input
    [class.has-error]="hasError"
    [placeholder]="placeholder"
    [type]="setInputType()"
    (keyup)="emitInput($event)"
  />
</div>

<div class="input" *ngIf="label">
  <label for="{{label}}">
    {{label}}
  </label>
  <input
    id="{{label}}"
    [class.has-error]="hasError"
    [placeholder]="placeholder"
    [type]="setInputType()"
    (keyup)="emitInput($event)"
  />

</div>
