$orange: #ac4f1b;
$yellow: #ffea7e;
$grey: #b0b0b0;

$white: #fff;


$black: #201f1f;
$dark: #38393a;
$sandalwood: #dba159;
$earth: #70441d;
$meadow: #76d352;
$forest: #3e8954;
$sky: #3581b8;
$ocean: #1c3464;
$cupcake: #e0607e;
$scarlet: #fa003f;

$blurprops: 0 0px 5px rgb(0 0 0 / 19%), 0 0px 0px rgb(0 0 0 / 23%);
