@import '../../shared-styles/utilities/variables';

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

.font-62 {
  font-size: 62px;
}

.font-34 {
  font-size: 34px;
}

.font-24 {
  font-size: 24px;
}

.font-22 {
  font-size: 22px;
}

.font-600 {
  font-weight: 600;
}

h1 {
  font-size: 62px;
  font-weight: 600;
}

h2 {
  font-size: 34px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

hr {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid $orange;
}

.orange {
  color: $orange;
}

.grey {
  color: $grey;
}

.yellow {
  color: $yellow;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.scarlet {
  color: $scarlet;
}

.anti {
  font-family: 'Amatic SC', cursive;
}

.line {
  width: 60%;
  height: 1px;
  margin-left: 20%;
  background-color: $sandalwood;
}

a {
  color: $orange;
  text-decoration: none;
  border-bottom: 1px solid;
  //transition: border 0.1s;
  &:hover {
    color: $sky;
    text-decoration: none;
    border-bottom: 2px solid;
  }
}

.clickable {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
