<div class="login-wrapper">
  <div class="login-wrapper__login-area">
    <div class="row">
      <div class="col-12">
        <h1 class="orange mt-4 mb-0 anti">Tradr</h1>
        <h2 class="orange mb-3 anti">We make!</h2>
        <div *ngIf="loginError" class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <p class="scarlet">
              There appears to be a problem with your username or password.
            </p>
          </div>
        </div>
        <div class="mt-3">
          <tradr-input
            [placeholder]="'Your username'"
            [inputType]="'text'"
            [hasError]="loginError"
            (output)="userName = $event"
          ></tradr-input>
        </div>
        <div class="mt-4 mb-4">
          <tradr-input
            [placeholder]="'Your Password'"
            [inputType]="'password'"
            [hasError]="loginError"
            (output)="password = $event"
          ></tradr-input>
        </div>
        <div class="mt-4 mb-4">
          <tradr-button [label]="'Login'" (output)="onSubmit()"></tradr-button>
        </div>
      </div>
      <div class="line"></div>
      <div class="col-12 mt-4">
        Don't have an account? <a [routerLink]="'/register'">Create one!</a>
      </div>
    </div>
  </div>
</div>
