@import '../../shared-styles/utilities/variables';

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding-bottom: 10vh;
  &__login-area {
    display: inline-block;
    width: 400px;
    background-color: $white;
    padding-bottom: 30px;
    box-shadow: $blurprops;
    border-radius: 10px;
    border-bottom: 3px solid $orange;
  }
}
