@import '../../shared-styles/utilities/variables';

.panel-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    clip-path: polygon(0 0, 150% 0%, 0% 100%, 0% 100%);
    transform: rotate(180deg);
    z-index: 0;
  }
  .panel {
    width: 10%;
    height: 100vh;
    display: inline-block;
    &_1 {
      background-color: $scarlet;
    }
    &_2 {
      background-color: $cupcake;
    }
    &_3 {
      background-color: $sandalwood;
    }
    &_4 {
      background-color: $earth;
    }
    &_5 {
      background-color: $forest;
    }
    &_6 {
      background-color: $meadow;
    }
    &_7 {
      background-color: $sky;
    }
    &_8 {
      background-color: $ocean;
    }
    &_9 {
      background-color: $dark;
    }
    &_10 {
      background-color: $black;
    }
  }
}
