<div class="panel-wrapper">
  <div class="panel panel_1"></div>
  <div class="panel panel_2"></div>
  <div class="panel panel_3"></div>
  <div class="panel panel_4"></div>
  <div class="panel panel_5"></div>
  <div class="panel panel_6"></div>
  <div class="panel panel_7"></div>
  <div class="panel panel_8"></div>
  <div class="panel panel_9"></div>
  <div class="panel panel_10"></div>
  <div class="panel_cover"></div>
</div>

<div class="container-fluid">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
