@import '../../shared-styles/utilities/variables';
.landing-page {
  width: 100%;
  height: 100vh;
  background-color: $white;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: $blurprops;
}
