@import '../../shared-styles/utilities/variables';

.header {
  background-color: $white;
  box-shadow: $blurprops;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 3px solid $orange;
  min-height: 50px;
  margin-bottom: 15px;
  &__logo-area {

  }
  &__user-details {
    display: flex;
    align-items: center;
    justify-content: right;
    span {
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      color: $orange;
      padding-right: 10px;
      margin-left: 10px;
      border-right: 1px solid $grey;
      height: 15px;
      line-height: 16px;
      &:last-of-type {
        border: 0;
      }
    }
  }
}
