<div class="row">
  <div class="col-12 header">
    <div class="row">
      <div class="col-6 header__logo-area">
        <h2 class="anti orange clickable" [routerLink]="'/'">Tradr</h2>
      </div>
      <div class="col-6 header__user-details">
        <span>Welcome back, {{loggedInUser?.username}}!</span><span (click)="logOut()" class="clickable">logout</span>
      </div>
    </div>
  </div>
</div>
