@import '../../shared-styles/utilities/variables';
.button {
  width: 100%;
  button {
    width: 30%;
    background-color: $orange;
    color: $white;
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid $sandalwood;
    border-radius: 10px;
    outline: 0;
    letter-spacing: 1px;
    margin: 0;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &:hover,
    &:focus {
      transition: all 0.3s;
      background-color: $white;
      color: $orange;
      border: 2px solid $orange;
    }
  }
}
