
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10 registration-wrapper">
    <div class="registration-wrapper__register-area">

      <div class="row">
        <div class="col-12 mt-3">
          <h1 class="anti orange">Why Tradr?</h1>
          <p><span class="anti font-22 orange">Tradr</span> is the ONLY place to browse and establish locally owned digital storefronts!</p>
        </div>
        <div class="row mt-5">
          <div class="col-12 text-left" style="padding-left: 5%">
            Your account details
          </div>
        </div>

        <div class="col-6">
          <div class="mb-4 mt-4">
            <tradr-input [label]="'Username'" [inputType]="'text'"></tradr-input>
          </div>

          <div class="mb-4 mt-4">
            <tradr-input [label]="'First Name'" [inputType]="'text'"></tradr-input>
          </div>

          <div class="mb-4 mt-4">
            <tradr-input [label]="'Last Name'" [inputType]="'text'"></tradr-input>
          </div>



        </div>
        <div class="col-6">
          <div class="mb-4 mt-4">
            <tradr-input [label]="'Email address'" [inputType]="'text'"></tradr-input>
          </div>

          <div class="mb-4 mt-4">
            <tradr-input [label]="'Confirm Email'" [inputType]="'text'"></tradr-input>
          </div>

          <div class="mb-4 mt-4">
            <tradr-input [label]="'Password'" [inputType]="'text'"></tradr-input>
          </div>
          <div class="mb-4 mt-4">
            <tradr-input [label]="'Confirm Passord'" [inputType]="'text'"></tradr-input>
          </div>
        </div>
        <div class="col-12">
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
